.img{
    width:50%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divimg{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textcon{
    align-items: center;
    text-align:center;
    
    color: #2aabd2;
    font-family: cursive;
  }
  .button {

    border: 1px solid #e2ab25; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #e2ab25; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
  }
  .divpagi {
    margin: 0 auto;
    margin: 10px;
  }